USE [QuanLyNhaHang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoBan] [varchar](10) NOT NULL,
	[SoCho] [tinyint] NOT NULL,
	[TrangThai] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDon]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NOT NULL,
	[MonAnId] [int] NOT NULL,
	[SoLuong] [tinyint] NOT NULL,
	[DonGia] [decimal](12, 0) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[ThuTu] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BanId] [int] NOT NULL,
	[KhachHangId] [int] NULL,
	[NguoiDungId] [int] NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[NgayDong] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DanhMucId] [int] NOT NULL,
	[TenMon] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBan] [decimal](12, 0) NOT NULL,
	[ConHang] [bit] NOT NULL,
	[AnhUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [varchar](15) NOT NULL,
	[HoatDong] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 3/29/2026 4:17:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonHangId] [int] NOT NULL,
	[TongTien] [decimal](14, 0) NOT NULL,
	[TienGiam] [decimal](14, 0) NOT NULL,
	[TienThanhToan] [decimal](14, 0) NOT NULL,
	[PhuongThuc] [varchar](15) NOT NULL,
	[TrangThai] [varchar](15) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayThanhToan] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([Id], [NguoiDungId], [HoTen], [SoDienThoai], [Email], [DiaChi], [NgayTao]) VALUES (1, 3, N'Phung Thanh Do', N'123', NULL, NULL, CAST(N'2026-03-29T16:04:15.5700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [TenDangNhap], [MatKhau], [VaiTro], [HoatDong], [NgayTao]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Admin', 1, CAST(N'2026-03-29T15:02:58.1333333' AS DateTime2))
INSERT [dbo].[NguoiDung] ([Id], [TenDangNhap], [MatKhau], [VaiTro], [HoatDong], [NgayTao]) VALUES (2, N'nhanvien', N'42fae8a13d42327abbb8d700b0e2a7452f4198a63dfd3c88d6d052ad6aee7f20', N'NhanVien', 1, CAST(N'2026-03-29T15:02:58.1366667' AS DateTime2))
INSERT [dbo].[NguoiDung] ([Id], [TenDangNhap], [MatKhau], [VaiTro], [HoatDong], [NgayTao]) VALUES (3, N'Domixi', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'KhachHang', 1, CAST(N'2026-03-29T16:04:15.5600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_ban_soban]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[Ban] ADD  CONSTRAINT [uq_ban_soban] UNIQUE NONCLUSTERED 
(
	[SoBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_kh_email]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [uq_kh_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_kh_sdt]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [uq_kh_sdt] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_kh_taikhoan]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [uq_kh_taikhoan] UNIQUE NONCLUSTERED 
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_tk_tendangnhap]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [uq_tk_tendangnhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_tt_donhang]    Script Date: 3/29/2026 4:17:35 PM ******/
ALTER TABLE [dbo].[ThanhToan] ADD  CONSTRAINT [uq_tt_donhang] UNIQUE NONCLUSTERED 
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ((4)) FOR [SoCho]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ('Trong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDon] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ('ChoDuyet') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[MonAn] ADD  DEFAULT ((1)) FOR [ConHang]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('KhachHang') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [HoatDong]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [TienGiam]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ('TienMat') FOR [PhuongThuc]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ('ThanhCong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[ChiTietDon]  WITH CHECK ADD  CONSTRAINT [fk_ctd_donhang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDon] CHECK CONSTRAINT [fk_ctd_donhang]
GO
ALTER TABLE [dbo].[ChiTietDon]  WITH CHECK ADD  CONSTRAINT [fk_ctd_monan] FOREIGN KEY([MonAnId])
REFERENCES [dbo].[MonAn] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDon] CHECK CONSTRAINT [fk_ctd_monan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [fk_dh_ban] FOREIGN KEY([BanId])
REFERENCES [dbo].[Ban] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [fk_dh_ban]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [fk_dh_khachhang] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [fk_dh_khachhang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [fk_dh_nhanvien] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [fk_dh_nhanvien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [fk_kh_taikhoan] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [fk_kh_taikhoan]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [fk_monan_danhmuc] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([Id])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [fk_monan_danhmuc]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_tt_donhang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [fk_tt_donhang]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [chk_ban_trangthai] CHECK  (([TrangThai]='Dong' OR [TrangThai]='DatTruoc' OR [TrangThai]='CóKhách' OR [TrangThai]='Trong'))
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [chk_ban_trangthai]
GO
ALTER TABLE [dbo].[ChiTietDon]  WITH CHECK ADD  CONSTRAINT [chk_ctd_soluong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDon] CHECK CONSTRAINT [chk_ctd_soluong]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [chk_dh_trangthai] CHECK  (([TrangThai]='Huy' OR [TrangThai]='DaThanhToan' OR [TrangThai]='YeuCauTinh' OR [TrangThai]='DaPhucVu' OR [TrangThai]='DangCheBien' OR [TrangThai]='ChoDuyet'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [chk_dh_trangthai]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [chk_tk_vaitro] CHECK  (([VaiTro]='KhachHang' OR [VaiTro]='NhanVien' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [chk_tk_vaitro]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [chk_tt_phuongthuc] CHECK  (([PhuongThuc]='ViDienTu' OR [PhuongThuc]='QuetThe' OR [PhuongThuc]='ChuyenKhoan' OR [PhuongThuc]='TienMat'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [chk_tt_phuongthuc]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [chk_tt_trangthai] CHECK  (([TrangThai]='HoanTien' OR [TrangThai]='ThatBai' OR [TrangThai]='ThanhCong'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [chk_tt_trangthai]
GO
